/* * { margin: 0px; padding: 0px; box-sizing: border-box; } */

a { 
    text-decoration: none;
    color: white;
}

li {
    background-color: cornflowerblue;
}

.flex-container {
    display: flex;
}

.flex-container a {
    flex: 0 0 33%;
    background-color: lightslategray;
}

.flex-container button {
    align-self: flex-start;
}

.flex-container button {
    background-color: rgba(157, 0, 0, 0.700);
    color: white;
}

.flex-container button:hover {
    background-color: red;
    cursor: pointer;
}
