/* * { margin: 0px; padding: 0px; box-sizing: border-box; } */

body {
    color: white;
    background: black;
}

checkbox {
  float: left;
  width: 20px;
}

li {
    border-style: none none solid none;
}

a { 
    text-decoration: none;
    color: white;
}

.flex-container {
    display: flex;
}

.flex-container a {
    flex: 0 0 33%;
}

.flex-container button {
    align-self: flex-start;
}

.flex-container button {
    background-color: rgba(157, 0, 0, 0.700);
    color: white;
}

.flex-container button:hover {
    background-color: red;
    cursor: pointer;
}
